# Eclipse config files
# The following because OcaIDE changes the path file regularly...
/.paths

# OASIS temp files
/_build
/*.byte
/*.native
/setup.*

# Execution temp files
/*.log

# Generated DOT files
/*.dot
/*.pdf

# Custom build configuration files and materials
/.local_*
/local

# jbuilder creates its own .merlin files
.merlin
