.*.swp
.*.swo
.*.kate-swp
*.aux
*.log
main.pdf
summary.pdf
Logic_Rules.pdf
micro.pdf
Encodings.pdf
proof.pdf
*.backup
*.bbl
*.blg
*.loe
*.lof
*.lot
*.nav
*.out
*.snm
*.toc
*.vrb
*.kilepr
*.synctex.gz
\#*\#
*latexmk
core*
*.dvi
*.fls
*.xmpi
main.synctex.gz
